body {
    font-family: 'Arial, sans-serif';
    margin: 0;
    padding: 0;
    /*background: url(kyle-images/cafe.png) no-repeat center center fixed;*/
    background-size: cover;
    color: #000;
   
}

header {
    background-color: #d2691e; 
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    font-weight: normal;
    margin: 0;
}

.menu {
    padding: 20px;
}

.menu h2 {
    color: #a0522d; /
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin: 10px 0;
}

.menu p {
    margin: 5px 0 20px 0;
    font-size: 16px;
    color: #555;
}

